header {
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.35s ease;

    &.sticky {
        border-bottom: 1px solid $color-gray-medium;
        background-color: #fff;
        position: fixed;
        z-index: 999;
        //top: 5px;

        .header-top {
            display: none;
        }

        .header-middle {
            display: none;
        }

        .header-bottom {
            top: 0;
            background-color: #fff;
            position: relative;
        }
    }

    .header-top {
        background-color: $color-black-medium;
        padding: 1.4rem 0;

        ul {
            display: flex;
            li {
                display: flex;
                margin-right: 1.5rem;
                align-items: center;
                font-size: 1rem;
                line-height: 1.2;
                @include media-breakpoint-up(lg) {
                    font-size: 1.4rem;
                }
                &:first-child {
                    border-right: 1px solid $color-gray-medium;
                    padding-right: 1.5rem;
                }
                a {
                    color: $color-gray-medium;
                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }  
                i {
                    color: $color-gray-medium;
                    margin-right: 1rem;
                } 
            }
        }
    }

    .header-middle {
        background-image: url('../../images/header_bg.png');
        background-repeat: no-repeat;
        height: 50px;
        background-position: center bottom;
        background-size: contain;
    }

    .header-bottom {
        position: absolute;
        width: 100%;
        top: 38px;
        left: 0;
    }

    .navbar {
        padding: .85rem 0 0;
/*         @include media-breakpoint-down(xl) {
            background-color: $color-blue-main;
        } */

        &> .container {
            background-color: #fff;
            //box-shadow: 0px 4px 5px #d9d9d9;
            @include media-breakpoint-up(lg) {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;    
            }
        }

        .navbar-toggler {
            min-height: 40px;
            padding: 8px 6px;
            border-radius: 2px;
            border: 0;
            &:focus {
                box-shadow: 0 0 0 0.1rem rgba(255, 255, 255 , 0.3);
            }
            &[aria-expanded=true] {
                .navbar-toggler-icon {
                    span {
                        margin: 0;
                        &:first-child {
                            transform: rotate(45deg);
                        }

                        &:last-child {
                            transform: rotate(-45deg);
                            margin-top: -1px;
                        }
                        
                    }
                }
            }
            &-icon {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                background-image: none;
                span {
                    display: block;
                    width: 26px;
                    height: 2px;
                    background-color: $color-blue-main;
                    margin-bottom: 8px;
                    transition: all 0.25s ease-in-out;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .navbar-brand {
            img {
                transition: all 0.5s ease;
                @include media-breakpoint-down(lg) {
                    width: 140px;
                }
            }
        }

        .navbar-collapse {
            justify-content: flex-end;
            @include media-breakpoint-down(xl) {
                background-color: $color-blue-main;
                position: absolute;
                left: 0;
                top: 84px;
                width: 100%;
                padding: 0 15px;
            }
            @include media-breakpoint-up(xl) {
                padding-right: 2rem;
            }
            @include media-breakpoint-up(xxl) {
                padding-right: 0;
            }

            .navbar-nav {
                @include media-breakpoint-down(xl) {
                    padding: 1.25rem 0 0;
                }
                .nav-item {
                    @include media-breakpoint-down(xl) {
                        margin-bottom: .75rem;
                        text-align: center;
                        border: 0 !important;
                    }
                    &:last-child {
                        border: 0;
                    }
                    .nav-link {
                        padding: 0.15rem .7rem;
                        text-transform: uppercase;
                        transition: all 0.25s ease-in-out;
                        color: $color-blue-dark;
                        font-weight: 500;

                        @include media-breakpoint-up(xl) {
                            padding-right: 2rem;
                            font-size: 1.4rem;
                        }

                        &:hover {
                            color: $color-blue-main;
                            @include media-breakpoint-up(xl) {
                                transform: translateY(-4px);
                            }
                        }
                    }
                }
            }

        }
    }
}