/*CONTACT
*******************************************/
.contact-form {
    margin-top: 0;
    form {
        max-width: 800px;
        margin: 3rem auto 0;
        background-color: rgb(148, 184, 215, 0.35);
        padding: 1.25rem;
        border-radius: .5rem;
        box-shadow: 0 0 8px #ddd;
        display: flex;
        flex-direction: column;

        .btn {
            align-self: center;
            min-width: 300px;
        }

        .g-recaptcha {
            &>div {
                margin: 0 auto;
            }
        }
    
        label {
            font-size: 0.75rem;
            font-weight: 700;
            margin-bottom: 0.25rem;
        }
    
        .form-control {
            font-size: 0.9rem;
            border-color: #ccc;
            &:focus {
                border-color: $color-blue-main;
                box-shadow: none;
            }
            &::placeholder {
                color: #7d7d7d;
            }
        }

        .error-msg {
            color: #f00000;
            font-size: 14px;
            padding-top: 5px;
            display: none;
            &.visible {
                display: block;
            }
        }
    }
}


/*THANK YOU
**********************************************/
.thank-you {
    margin-top: 6rem;
    h1, h2, .back-to-home {
        text-align: center;
    }

}