
//COLORS
$color-black: #15161D;
$color-black-medium: #222;
$color-blue-main: #2D6073;
$color-blue-dark: #1F192F;
$color-green: #65B8A6;
$color-gray-light: #f4f5f9;
$color-gray-medium: #C1C1C1;

//FONTS
$font-family-main: 'Work Sans', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;